:root {
  --background-roze-color: #f2ceda;
  --background-light-color: #ffffff;
  --text-accent-color: #d23166;
  --text-primary-color: #000000;
  --button-accent-color: #d64374;
  --button-product-color: #E5E5E5;
  --white-color: #ffffff;
}
