<section class="section section--no-padding section--pink">
  <div class="container">
    <div class="details">
      <div class="details__meta">
        <h2 class="details__title">Brown Sugar<br />Oatmea</h2>
        <p class="details__text">
          Together with McDonald’s, Burger King has grown to become synonymous
          with burgers in the US.Together with McDonald’s, Burger King has grown
          to become synonymous.
        </p>
        <button type="button" class="button details__button">
          See Details
        </button>
      </div>
      <picture>
        <source
          srcset="
            ./images/details-ice@1x.png 1x,
            ./images/details-ice@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <img
          src="./images/details-ice@1x.png"
          alt="Ice cream in waffle basket"
          class="details__image"
        />
      </picture>
    </div>
  </div>
</section>
