<section class="section">
  <div class="container">
    <h2 class="section__title">Brown Sugar Oatmea</h2>
    <p class="">
      Together with McDonald’s, Burger King has grown to become synonymous with
      burgers in the US.Together with McDonald’s, Burger King has grown to
      become synonymous.
    </p>
    <button type="button">See Details</button>
    <picture>
      <source
        srcset="./images/img1@1x.jpg 1x, ./images/img1@2x.jpg 2x"
        media="(min-width:1200px)"
      />
      <img src="./images/img1@1x.jpg" alt="Ice cream in waffle basket" />
    </picture>
  </div>
</section>
