<section class="section section--pink">
  <div class="container">
    <div class="details">
      <div class="details__meta">
        <h2 class="details__title">Brown Sugar<br />Oatmea</h2>
        <p class="details__text">
          Together with McDonald’s, Burger King has grown to become synonymous
          with burgers in the US.Together with McDonald’s, Burger King has grown
          to become synonymous.
        </p>
        <button type="button" class="button details__button">
          See Details
        </button>
      </div>
      <picture>
        <source
          srcset="./images/img1@1x.jpg 1x, ./images/img1@2x.jpg 2x"
          media="(min-width:1200px)"
        />
        <img
          src="./images/img1@1x.jpg"
          alt="Ice cream in waffle basket"
          class="details__image"
        />
      </picture>
    </div>
  </div>
</section>
