<section class="section section--light">
  <div class="container container--align">
    <div>
      <div class="wrap">
        <picture>
          <source
            srcset="
              ./images/feedback-adele-1x.jpg 1x,
              ./images/feedback-adele-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img src="./images/feedback-adele-2x.jpg" alt="Девушка" />
        </picture>

        <div class="feedback-name">
          <h3 class="feedback-title">Adele A. McNeill</h3>
          <p class="feedback-text">AMIRICAN</p>
        </div>
      </div>

      <p class="feedback-post">
        <svg class="feedback-post-icon-left" width="10" height="10">
          <use href="./images/sprite.svg#icon-quotes-left"></use>
        </svg>
        Thanks a lot for the prompt service. Really appreciate. Excellence taste
        in Every Bite.Add a joy of best Taste. Foodie Moments.
        <svg class="feedback-post-icon-right" width="10" height="10">
          <use href="./images/sprite.svg#icon-quotes-right"></use>
        </svg>
      </p>

      <div class="galery-box">
        <svg width="14" height="14">
          <use href="./images/sprite.svg#icon-right-arrow-1"></use>
        </svg>
        <ul class="galery-list">
          <li class="galery-item">
            <picture>
              <source
                srcset="
                  ./images/feedback-man-1x.jpg 1x,
                  ./images/feedback-man-2x.jpg 2x
                "
                media="(min-width:1200px)"
              />
              <img src="./images/feedback-man-2x.jpg" alt="Мужчина" />
            </picture>
          </li>
          <li class="galery-item galery-item-active">
            <picture>
              <source
                srcset="
                  ./images/feedback-wooman-active-1x.jpg 1x,
                  ./images/feedback-wooman-active-2x.jpg 2x
                "
                media="(min-width:1200px)"
              />

              <img src="./images/feedback-wooman-active-2x.jpg" alt="Девушка" />
            </picture>
          </li>

          <li class="galery-item">
            <picture>
              <source
                srcset="
                  ./images/feedback-wooman-1x.jpg 1x,
                  ./images/feedback-wooman-2x.jpg 2x
                "
                media="(min-width:1200px)"
              />

              <img src="./images/feedback-wooman-2x.jpg" alt="Девушка" />
            </picture>
          </li>
        </ul>
        <svg width="14" height="14">
          <use href="./images/sprite.svg#icon-right-arrow-2"></use>
        </svg>
      </div>
    </div>

    <div class="feedback-example">
      <picture>
        <source
          srcset="
            ./images/feedback-ice@1x.png 1x,
            ./images/feedback-ice@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <img src="./images/feedback-ice@2x.png" alt="Мороженое" />
      </picture>
    </div>
  </div>
</section>
