<section class="section">
  <div class="container">
    <div class="feedback">
      <ul class="clients">
        <li class="client-item">
          <img
            srcset="
              ./images/feedback-man-1x.jpg 1x,
              ./images/feedback-man-2x.jpg 2x
            "
            src="./images/feedback-man-2x.jpg="
            alt="Мужчина"
          />
        </li>
        <li class="client-item"></li>
        <li class="client-item"></li>
      </ul>
    </div>
    <picture></picture>
  </div>
</section>
