<header>
        <div class="conteiner header-conteiner">
            <nav class="nav">
                <a href="./index.html"><img src="./images/Logo.png" alt="logo" width="79px"></a>
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="./index.html" class="nav__list-link nav__list-link--current">Home</a></li>
                    <li class="nav__list-item"><a href="#" class="nav__list-link">Product</a></li>
                    <li class="nav__list-item"><a href="#" class="nav__list-link">Pricing</a></li>
                    <li class="nav__list-item"><a href="#" class="nav__list-link">Testimonials</a></li>
                    <li class="nav__list-item"><a href="#" class="nav__list-link">Contact Us</a></li>
                </ul>
                <button type="button" class="button header__button">Buy Now</button>
            </nav>            
        </div>
</header>