<section class="section section__hero section--pink">
  <div class="container hero__container">
    <div class="hero__text-wrap">
      <p class="hero__top-text">Sweet fun, full of milk.</p>
      <h1 class="hero__title">
        Feel inside cold with our delicious
        <span class="hero__title hero__title--pink">ice-cream.</span>
      </h1>
      <p class="hero__bottom-text">
        Some food has looked so awful that it's looked like something that the
        dog's brought home, yet after one mouthful I've been left eating my
        thoughts, my words.
      </p>
      <button type="button" class="button hero__button">Buy Now</button>
    </div>
    <div class="hero__image-wrap">
      <picture>
        <source
          srcset="./images/ice-hero@1x.png 1x, ./images/ice-hero@2x.png 2x"
          media="(min-width:1200px)"
        />
        <img
          src="./images/ice-hero@1x.png"
          alt="Ice cream sundae"
          class="hero__image hero__image--relative"
        />
      </picture>

      <picture>
        <source
          srcset="./images/milk-hero@1x.png 1x, ./images/milk-hero@2x.png 2x"
          media="(min-width:1200px)"
        />
        <img
          src="./images/milk-hero@1x.png"
          alt="Ice cream sundae"
          class="hero__image hero__image--absolute"
        />
      </picture>
    </div>
  </div>
</section>
