<section class="section">
  <div class="order">
    <div class="ice-cream-order-thumb">
      <picture
        ><source
          srcset="./images/order-ice@1x.png, ./images/order-ice@2x.png"
          media="(min-width: 1200px)" />
        <img
          class="product-order-ice"
          src="./images/order-ice@1x.png"
          alt="Raspberry icecream"
      /></picture>
    </div>
    <h2 class="product__title">Simple Way To Order Your Food</h2>
    <p class="product__text">
      Some food has looked so awful that it's looked like something that the
      dog's brought home, yet after one mouthful I've been left eating my
      thoughts.
    </p>
    <ul class="order__option">
      <li>
        <svg width="30" height="30">
          <use href="./images/sprite.svg#icon-Group-91"></use>
        </svg>
        <p>Select Your Food</p>
      </li>
      <li>
        <svg width="30" height="30">
          <use href="./images/sprite.svg#icon-add-to-cart"></use>
        </svg>
        <p>Add To Cart</p>
      </li>
      <li>
        <svg width="30" height="30">
          <use href="./images/sprite.svg#icon-Group-21"></use>
        </svg>
        <p>Order Your Food</p>
      </li>
    </ul>
    <div>
      <svg width="200" height="77">
        <use href="./images/sprite.svg#icon-Google_Play_Store_badge_EN"></use>
      </svg>
      <svg width="200" height="77">
        <use
          href="./images/sprite.svg#icon-Download_on_the_App_Store_Badge"
        ></use>
      </svg>
    </div>
  </div>
</section>
