<section class="section section--light">
    <div class="container">
        <h2 class="product__title">Our Product</h2>
        <ul class="product__button">
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size current">ICE CREAM</button>
            </li>
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size">CAYENNE CHOCOLATE</button>
            </li>
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size">CAKE BATTER</button>
            </li>
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size">CANDY CANE</button>
            </li>
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size">PLATTERS</button>
            </li>
            <li class="product__button__nav">
                <button type="button" class="product__button__nav__size">DESSERT</button>
            </li>
        </ul>
        <ul class="product__catalog">
            <li class="product__information">
                <div class="product__information__image">
                    <picture>
                        <source
                        srcset="./images/product1@1x.png 1x, ./images/product1@2x.png 2x"
                        media="(min-width:1200px)"
                        />
                        <img
                        src="./images/product1@1x.png"
                        alt="Ice cream in waffle basket"
                        class="product__information__image__ice"
                        />
                    </picture>
                </div>
                <div class="product__information__ice">
                    <h3 class="product__information__title">Brown bread</h3>
                    <p class="product__information__text">Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                    <div class="product__information__price">
                        <p class="product__information__price__now">$19.55</p>
                        <p class="product__information__price__old">$22.55</p>
                    </div>
                    <button type="button" class="button product__information__button">Buy Now</button>
                </div>
            </li>

            <li class="product__information">
                <div class="product__information__ice">
                    <h3 class="product__information__title">Brown bread</h3>
                    <p class="product__information__text">Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                    <div class="product__information__price">
                        <p class="product__information__price__now">$19.55</p>
                        <p class="product__information__price__old">$22.55</p>
                    </div>
                    <button type="button" class="button product__information__button">Buy Now</button>
                </div>
                <div class="product__information__image">
                    <picture>
                        <source
                        srcset="./images/product2@1x.png 1x, ./images/product2@2x.png 2x"
                        media="(min-width:1200px)"
                        />
                        <img
                        src="./images/product2@1x.png"
                        alt="Ice cream in waffle basket"
                        class="product__information__image__ice"
                        />
                    </picture>
                </div>
            </li>

            <li class="product__information">
                <div class="product__information__image">
                    <picture>
                        <source
                        srcset="./images/product3@1x.png 1x, ./images/product3@2x.png 2x"
                        media="(min-width:1200px)"
                        />
                        <img
                        src="./images/product3@1x.png"
                        alt="Ice cream in waffle basket"
                        class="product__information__image__ice"
                        />
                    </picture>
                </div>
                <div class="product__information__ice">
                    <h3 class="product__information__title">Brown bread</h3>
                    <p class="product__information__text">Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.
                    Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                    <div class="product__information__price">
                        <p class="product__information__price__now">$19.55</p>
                        <p class="product__information__price__old">$22.55</p>
                    </div>
                    <button type="button" class="button product__information__button">Buy Now</button>
                </div>
            </li>
        </ul>
    </div>
</section>