<section class="section section--without-background">
  <div class="container">
    <div class="question">
      <h2 class="question__title">
        Have Question in Mind? <br />
        Let us help you
      </h2>

      <form class="question__form">
        <div class="question__field">
          <label for="question" class="question__label"></label>
          <input
            type="text"
            name="question"
            id="question"
            placeholder="Enter your question"
          />
        </div>

        <button type="submit" class="button button--question">Send</button>
      </form>
    </div>
  </div>
</section>
