.button {
  display: flex;
  justify-content: center;
  min-width: 165px;
  min-height: 50px;
  background-color: #d23166;
  border-radius: 5px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
