.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section--pink {
  background-color: var(--background-roze-color);
}

.section__title {
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44px;
  line-height: 1.13;
}
