.details {
  display: flex;
}
.details__meta {
  width: 442px;

  margin-right: 74px;
}

.details__title {
  margin-bottom: 16px;

  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.11;

  color: #150101;
}

.details__text {
  margin-bottom: 35px;

  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  color: #150101;
  opacity: 0.6;
}

.details__button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  border: transparent;
}
