.section__hero {
  padding-top: 50px;
}

.hero__container {
  display: flex;
}

.hero__text-wrap {
  padding-top: 100px;
  max-width: 665px;
}

.hero__image-wrap {
  position: relative;
}

.hero__image-wrap::before {
  content: '';
  position: absolute;
  top: 255px;
  left: 115px;
  width: 260px;
  height: 260px;
  border: 2px solid transparent;
  background-color: var(--text-accent-color);
  opacity: 10%;
  border-radius: 50%;
}

.hero__top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  color: #0f0101;
  margin-bottom: 10px;
}

.hero__title {
  font-family: 'Fredoka One';
  font-size: 57.33px;
  line-height: 1.2;
  color: #0f0101;
  opacity: 0.9;
  margin-bottom: 30px;
}

.hero__title--pink {
  color: var(--text-accent-color);
  opacity: 0.9;
}

.hero__bottom-text {
  font-family: 'Hind Madurai';
  font-size: 18px;
  line-height: 1.5;
  color: #0f0101;
  opacity: 0.6;
  margin-bottom: 50px;
}

.hero__button {
  border-color: transparent;
}

.hero__image--relative {
  width: 480px;
  position: relative;
}

.hero__image--absolute {
  width: 650px;
  position: absolute;
  top: 110px;
  right: -55px;
}
