.product__title {
    font-weight: 600;
    font-size: 44.2px;
    line-height: 1.38;
    margin-bottom: 64px;
    text-align: center;
}

.product__button {
display: flex;
justify-content: center;
margin-bottom: 50px;
padding: 0;

&:last-child {
    margin-right: 0;
}
}

.product__button__nav__size {
position: relative;
font-weight: 500;
font-size: 18px;
line-height: 1.18;
margin-right: 40px;
cursor: pointer;
border: 0;
padding: 0;

opacity: 0.7;
background-color: var(--white-color);
}


    .current {
      /// display: inline-block;
      // content: "";

      // height: 1px;
    opacity: 1;
      // background-color: var(--button-accent-color);
      // border: 3px solid #D64374;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }




    .product__catalog {
        padding: 0;
    }

    .product__information {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            text-align: end;
            justify-content: end;
            margin-left: auto;
        }
    }

    .product__information__image__ice {
        width: 580px;
    }

.product__information__ice {
    margin-left: 85px;
    margin-top: 59px;
}

.product__information__title {
font-weight: 700;
font-size: 26px;
line-height: 36px;
margin-bottom: 11px;
}

.product__information__text {
font-size: 16px;
line-height: 24px;
margin-bottom: 28px;
opacity: 0.7;
}

.button.product__information__button {
border: 0;

  // &:nth-child(2) {
  //     margin-left: auto;
  // }
}

.product__information__price {
    display: flex;

      // &:nth-child(2) {
      //     justify-content: end;
      // }
}

    .product__information__price__now {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 16px;
    margin-right: 5px;

    }

    .product__information__price__old {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    text-decoration: line-through;

    opacity: 0.7;
    }
